<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="default" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d-%t-%5p(%F:%L)-%m%n"/>
		</layout>
	</appender>

	<logger name="sba.cajval">
		<level value="ALL" />
		<appender-ref ref="default" />
	</logger>
	<logger name="sba.common">
		<level value="WARNING" />
		<appender-ref ref="default" />
	</logger>

	<root>
		<level value="ERROR" />
	</root>

</log4j:configuration>
